
body{
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    
    
}
.container{
    margin: 5% auto;
    width: 50%;
	height: auto;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .15);
	backdrop-filter: blur(10px);
	/* filter: blur(5px); */
}

.bio{
    padding: 5%;
    text-align: center;
}

h1{
    margin: 0;
}


    
