@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    color: white;
    font-family: Poppins;

}

body{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient( 179.8deg,  rgba(149,149,149,1) -21.3%, rgba(77,77,77,1) 229.5% );    justify-content: center;
}

.container{
    width: 90%;
    display: flex;
    flex-direction: column;
    
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2rem;
    margin: 0;
}

.name{
    margin: 40px 0 10px 4px;
}

i{
    color: white;
    font-size: 18px;
}

button{
    aspect-ratio: 1/1;
    width: 45px;
    display:inline-block;
    padding: 0;
    margin: 0.7rem;
    border: none;
    border-radius:2em;
    text-decoration:none;
    background-color:rgb(94, 94, 94);
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
    
}

.tooltip{
    position: absolute;
    top: 15px;
    width: 100%;
    font-size: 14px;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-sizing: border-box;
    text-align: center;
    color: black;
}

:root{
    --linkedin-color :#0e76a8;
    --github-color: #6cc644;
    --phone-color: #ea0a8e;
    --email-color: #e6e6e6;
}

#linkedin + .tooltip, #linkedin + .tooltip::before, #linkedin:hover{
    background: var(--linkedin-color);
}

#phone + .tooltip, #phone + .tooltip::before, #phone:hover{
    background: var(--phone-color);
}

#email + .tooltip, #email + .tooltip::before, #email:hover{
    background: var(--email-color);
}

#github + .tooltip, #github + .tooltip::before, #github:hover{
    background: var(--github-color);
}

.tooltip::before {
    position: absolute;
    content: "";
    top: -4px;
    height: 8px;
    width: 8px;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

button:hover + .tooltip {
    top: 70px;
    opacity: 1;
    visibility: visible;
    pointer-events: none;
}


.bouncy{
    animation-duration: 5s; 
    animation-fill-mode: both; 
    animation-name: bounce; 
    animation-iteration-count: infinite;
}

@keyframes bounce { 
    0%, 40%, 50%, 60%, 100%{transform: translateY(0);} 
    45%, 52% {transform: translateY(-0.3rem);}
}


button:hover{
    transition: 0.3s;
    border-color: white;
    transform: scale(1.2);
}




h1{
    font-size: 1.5rem;
}

h3{
    margin: 0;
    transform: translateY(-0.1rem);
}

.separate{
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: space-around;
}

.separate div{
    display: flex;
    width: 100%;
}

.separate div span{
    width: 70%;
    border-top:1px solid rgba(255, 255, 255, 1);
}

.separate .one{
    justify-content: flex-start;
}

.separate .two{
    justify-content: flex-end;
}

.separate .three{
    justify-content: center;
}


/* <div class="tags">
            <div id="discordtag">Nelson#7058</div>
            <div id = "emailaddress">dong.n@northeastern.edu</div>
        </div>
        
        <div id="alert"> Copied to Clipboard!</div>
        <script src="../js/contact.js"></script>
    </body>*/