@font-face {
    font-family: 'KGHappy';
    src: url('../fonts/KGHAPPY.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/KGHAPPY.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/KGHAPPY.ttf')  format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

*, *beforeburger, *afterburger{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'KGHAPPY';
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    color: #000000;
    font-size: 1.2em;
    line-height: 1.6;
    background: #ddfeff;
    overflow-x:hidden;
    overflow-y:scroll;
}

.menu{
    position: fixed;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    filter: drop-shadow(-10px 10px 30px #444ddd)
}

.hamburger{
    top: 120px;
    left: 50px;
    height: 30px;
    position: absolute;
    z-index: 101;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.hamburger div{
    height: 2px;
    background: #fff;
    margin: 7px 0px 7px 0px;
    border-radius: 25px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.one { width: 30px}
.two { width: 20px; }
.three { width: 25px;}

.menu:hover div{
    width: 30px;
}
  
label input { display: none; }

input:checked + .menu {
    box-shadow: 0 0 0 100vw rgb(255, 255, 255), 0 0 0 100vh #444ddd;
    border-radius: 10%;
    
}
  
input:checked + .menu .hamburger .one{
    width: 40px;
    -webkit-transform: translate(-40%, 950%) rotate(225deg) ;
    transform:translate(-40%, 950%) rotate(225deg);  
    
}

input:checked + .menu .hamburger .two{
    width: 0px;
}

input:checked + .menu .hamburger .three{
    width: 30px;
    -webkit-transform: translate(-40%, 50%) rotate(-225deg);
    transform: translate(-40%, 50%) rotate(-225deg); 
    width: 40px;
}
  
input:checked + .menu + ul {
    opacity: 1; 
    -webkit-transform: translate(-100%, 100%);
    transform: translate(-100%, 100%);
    -webkit-transition: .5s 0s ease-in-out;
    transition: .5s 0s ease-in-out;
    position: fixed;
    
}

.nav-menu{

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0%;
    width: 100%;
    padding-left: 0px;
}

h1{
    font-family: 'KGHAPPY';
    font-weight: normal;
    text-align: center;
}

ul {
    z-index: 200;
    position: relative;
    top: 20%;
    left: 100%;
    text-align: center;
    opacity: 0;
    font-size: 35px;
    font-family: 'KGHAPPY';
}
a {
    margin-bottom: 1em;
    display: block;
    color: #f38630;
    text-decoration: none;
}
